.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.m-4 {
    margin: 10px !important;
}

.p-4 {
    padding: 10px !important;
}

.card-root {
    width: 300px;
    height: 500px;
    display: block;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin: 30px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    position: relative;
}

.card-root:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-image {
    width: 300px;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.button-row {
    display: flex;
    width: 99vw;
    justify-content: space-around;
}

.btn {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ecf0f1;
    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: #27ae60;
}

.btn>* {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
    pointer-events: auto;
    cursor: pointer;
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn.orange {
    background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
    background-color: #d35400;
}

.btn.green {
    background-color: #66bd0e;
}

.btn.green:hover, .btn.green:focus {
    background-color: #08c908;
}

.card-delete-button::before {
    position: absolute;
    width: 10px;
    top: 2px;
    left: 28%;
    content: "X";
    font-size: 13px;
    color: white;
}

.card-delete-button {
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    background-color: red;
    z-index: 10;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.spacer {
    height: 60px;
    width: 0.125rem;
    border-radius: 3px;
    background-color: #a7a7a7;
}